language: java
notifications:
  email: false
jdk:
- openjdk6
- openjdk7
- oraclejdk7
- oraclejdk8
env:
  global:
  - secure: "QAWiPamdQhDz66ThCL91EVBg9nZGXkBY/0IG4x5lG9xh3hkhobMC2727O9cqf2p4+Dbf9XZqZs6Ry/pN/bcPoxJUQKuH7oo3iRaM/dQINMjlBBSVuUDq81lSNjXvckg7ru5hbl11ZhyokKDd3/QPM6fSrWQv8bLDjwy08rFE49A="
before_install:
- chmod +x gradlew
- chmod +x config/publish-javadoc.sh
after_success: config/publish-javadoc.sh
